<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/mnemosyne.css" rel="stylesheet">
    <script async src="/js/mnemosyne.js"></script>
    <title>{{title}}</title>
    <script>
      // For debugging
      var STASH = {{toJSON this}}
    </script>
  </head>
  <body>
    <header>
      <div class="top-nav">
        <div class="content-width">
          <h1><a href="/">Mnemosyne</a></h1>
          <nav>
            <ul class="horizontal-menu">
              <li><a href="/help">Help</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="search">
        <div class="content-width">
          <form id="search" action="/search">
            <div>
              <div class="search-box">
                <input type="text" name="q" placeholder="Search">
                <button type="submit"></button>
              </div>
              <nav>
                <ul class="horizontal-menu">
                  <li><a class="reveal closed" data-show="#panel-advanced" href="#">Advanced</a></li>
                </ul>
              </nav>
            </div>
            <div class="fold" id="panel-advanced">
              Advanced
            </div>
          </form>
        </div>
      </div>
    </header>
    {{{body}}}
    <div class="content-width" id="debug"></div>
  </body>
</html>
