<div class="markdown content-width">
  <div class="content">
    {{markdown}}
  </div>
  <div class="meta">
    <table>
      <tr>
        <td>Last Updated</td>
        <td class="time">{{modified}}</td>
      </tr>
    </table>
  </div>
</div>

