<div class="content-width">
  {{#each progs.rows}}
    <h2>
      <span class="time">{{shortTime txTime}}</span>
      {{episode.title}}
    </h2>
    <p>
      {{episode.longSynopsis}}
    </p>
  {{/each}}
</div>
